/*Stylesheet für das Miniprojekt; google-homepage*/

.body{
    background-color: #2A2A2E;
}

.reiter{
 background-color: #2A2A2E;
 display: flex;
 align-items: center;
}

.Datum{
    background-color: #2A2A2E;
    border: 0px;
    color: brown;
}

.logo{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 150px;
   max-height: 290px;
   height: calc(100% -560px);
}

.google{
    max-height: 230px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: auto;
}

.suchzeile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}
.Suchfeld{
    background-color: #424249;
    width: auto;
    max-width: 800px;
    height: 24px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 3px 3px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
